@font-face {
  font-family: "CursedTimerUlil-Aznm";
  src: url("https://srv-store1.gofile.io/download/Y2psID/582cac299faac1ab8d378a6488ba2ced/Digital%20Dismay.otf");
}
body {
  font-family: "CursedTimerUlil-Aznm", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
body.sun-background {
  background-color: #67a8f1;
  background-image: linear-gradient(160deg, #67a8f1 0%, #c2f1eb 100%);
}
body.sun-background .sun {
  display: block;
}
body.moon-background {
  background-color: #002551;
  background-image: linear-gradient(180deg, #002551 35%, #495d71 94%);
}
body.moon-background .moon {
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock {
  width: 230px;
  height: 102px;
  background-color: #f3f3f3;
  border-radius: 35px;
  border: 5px solid #fefefe;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock .outer-shapes-top {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translate(-50%);
  background-color: #d5d0d5;
  width: 50%;
  height: 7px;
  border-radius: 3px 3px 0px 0px;
}
.clock .outer-shapes-bottom:before, .clock .outer-shapes-bottom:after {
  content: "";
  position: absolute;
  background-color: #d5d0d5;
  width: 16px;
  height: 7px;
  border-radius: 0px 0px 2px 2px;
  bottom: -12px;
}
.clock .outer-shapes-bottom:before {
  left: 40px;
}
.clock .outer-shapes-bottom:after {
  right: 40px;
}
.clock .black-inside {
  width: 160px;
  height: 78px;
  background-color: #434a54;
  border: 3px solid #d5d0d5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  transition: 0.6s all;
  color: #fefefe;
  text-align: center;
  padding-left: 3px;
  position: relative;
}
.clock .black-inside:after {
  content: "88:88";
  position: absolute;
  top: 0;
  left: 8px;
  opacity: 0.05;
}
.clock .black-inside span {
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

.sun {
  background: #f2dd68;
  display: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: -10px -5px 0px 0 rgba(0, 0, 0, 0.07) inset;
  padding: 20px;
  border: 5px solid #995710;
  position: relative;
}
.sun .eyes {
  height: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sun .eyes .eye {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #995710;
  position: relative;
  top: 0;
  -webkit-animation: close-eye 2s 2s infinite;
          animation: close-eye 2s 2s infinite;
}
.sun .mouth {
  background: transparent;
  border: 5px solid #995710;
  border-top: 0;
  border-radius: 0px 0px 50px 50px;
  width: 50px;
  height: 25px;
  -webkit-clip-path: inset(50% 0 0 0);
          clip-path: inset(50% 0 0 0);
  -webkit-animation: mouth 10s infinite;
          animation: mouth 10s infinite;
}
.sun .sunbeams {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  -webkit-animation: rotate 7s infinite linear;
          animation: rotate 7s infinite linear;
}
.sun .sunbeams .beam {
  background-color: #995710;
  width: 30px;
  height: 4px;
  position: absolute;
}
.sun .sunbeams .beam:first-child {
  top: -25px;
  left: 35px;
  transform: rotate(90deg);
}
.sun .sunbeams .beam:nth-child(2) {
  bottom: -25px;
  left: 35px;
  transform: rotate(-90deg);
}
.sun .sunbeams .beam:nth-child(3) {
  top: 0;
  right: -20px;
  transform: rotate(-45deg);
}
.sun .sunbeams .beam:nth-child(4) {
  top: 0;
  left: -20px;
  transform: rotate(45deg);
}
.sun .sunbeams .beam:nth-child(5) {
  top: 50%;
  left: -10px;
  transform: rotate(0deg);
  transform: translate(-100%, -50%);
}
.sun .sunbeams .beam:nth-child(6) {
  top: 50%;
  right: -10px;
  transform: rotate(0deg) translate(100%, -50%);
}
.sun .sunbeams .beam:nth-child(7) {
  bottom: -5px;
  left: -15px;
  transform: rotate(-45deg);
}
.sun .sunbeams .beam:nth-child(8) {
  bottom: -5px;
  right: -15px;
  transform: rotate(45deg);
}

.moon {
  background: #95c7fa;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: -10px -5px 0px 0 rgba(0, 0, 0, 0.07) inset;
  padding: 20px;
  border: 5px solid #67a8f1;
  position: relative;
  display: none;
}
.moon .eyes {
  height: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.moon .eyes .eye {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #0f2964;
  position: relative;
  top: 0;
  -webkit-animation: close-eye 2s 2s infinite;
          animation: close-eye 2s 2s infinite;
}
.moon .mouth {
  background: transparent;
  border: 5px solid #0f2964;
  border-top: 0;
  border-radius: 0px 0px 50px 50px;
  width: 50px;
  height: 25px;
  -webkit-clip-path: inset(50% 0 0 0);
          clip-path: inset(50% 0 0 0);
  -webkit-animation: mouth 10s infinite;
          animation: mouth 10s infinite;
}
.moon .craters {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}

.moon {
  transition: 0.5s linear;
}
.moon.up-04 {
  transform: translateY(60px);
}
.moon.up-03 {
  transform: translateY(40px);
}
.moon.up-02 {
  transform: translateY(20px);
}
.moon.up-01 {
  transform: translateY(0);
}
.moon.up-00, .moon.up-24 {
  transform: translateY(-20px);
}
.moon.up-23 {
  transform: translateY(-5px);
}
.moon.up-22 {
  transform: translateY(8px);
}
.moon.up-21 {
  transform: translateY(21px);
}
.moon.up-20 {
  transform: translateY(47px);
}
.moon.up-19 {
  transform: translateY(60px);
}

.sun {
  transition: 0.5s linear;
}
.sun.up-05, .sun.up-18 {
  transform: translateY(60px);
}
.sun.up-06, .sun.up-17 {
  transform: translateY(47px);
}
.sun.up-07, .sun.up-16 {
  transform: translateY(34px);
}
.sun.up-08, .sun.up-15 {
  transform: translateY(21px);
}
.sun.up-09, .sun.up-14 {
  transform: translateY(8px);
}
.sun.up-10, .sun.up-13 {
  transform: translateY(-5px);
}
.sun.up-11, .sun.up-12 {
  transform: translateY(-20px);
}

.fast-simulation {
  margin: 10px;
  background-color: #4c535d;
  color: #fefefe;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  text-align: center;
}
.fast-simulation[disabled] {
  opacity: 0.5;
}

@-webkit-keyframes close-eye {
  10% {
    height: 11px;
    top: 0px;
  }
  30% {
    height: 1px;
    top: 5px;
  }
  50% {
    height: 11px;
    top: 0px;
  }
}

@keyframes close-eye {
  10% {
    height: 11px;
    top: 0px;
  }
  30% {
    height: 1px;
    top: 5px;
  }
  50% {
    height: 11px;
    top: 0px;
  }
}
@-webkit-keyframes mouth {
  20% {
    -webkit-clip-path: inset(50% 0 0 0);
            clip-path: inset(50% 0 0 0);
  }
  25% {
    -webkit-clip-path: inset(20% 0 0 0);
            clip-path: inset(20% 0 0 0);
  }
  95% {
    -webkit-clip-path: inset(20% 0 0 0);
            clip-path: inset(20% 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(50% 0 0 0);
            clip-path: inset(50% 0 0 0);
  }
}
@keyframes mouth {
  20% {
    -webkit-clip-path: inset(50% 0 0 0);
            clip-path: inset(50% 0 0 0);
  }
  25% {
    -webkit-clip-path: inset(20% 0 0 0);
            clip-path: inset(20% 0 0 0);
  }
  95% {
    -webkit-clip-path: inset(20% 0 0 0);
            clip-path: inset(20% 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(50% 0 0 0);
            clip-path: inset(50% 0 0 0);
  }
}
@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0.05;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0.05;
  }
}